{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Tickets
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!-- <style>
      {
        overflow-y: hidden;
      }
    </style> -->
</head>
<body>

  {% if request.user.is_customer %}
    <nav class="ticketbasenav navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white fs-2" href="{% url 'home' %}" id="brandname">Harmonyx</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'all_tickets' %}">View Tickets</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link disabled text-white opacity-25 me-3" href="" tabindex="-1" aria-disabled="true">{{request.user.username}}</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  {% elif request.user.is_engineer %}
  
    <nav class="navbar navbar-expand-lg" style="width: 100%;">
        <div class="container-fluid">
          <a class="navbar-brand text-white fs-2" href="{% url 'home' %}" id="brandname">Harmonyx</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'all_tickets' %}">View Tickets</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'ticket_queue' %}">Pending Ticket</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'workspace' %}">Workspace</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'dashboard' %}">Dashboard</a>
              </li> -->
              
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link disabled text-white opacity-25 me-3" href="" tabindex="-1" aria-disabled="true">{{request.user.username}}</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% endif %}

      <!-- <div class="container mt-5"> -->
        <!-- {% if messages %}
            {% for message in messages %}
        <div class="alert alert-{{message.tags}} mx-auto" style="width: 14rem;" role="alert">{{message}}</div>
        
            {% endfor %}
        {% endif %} -->
      <!-- </div> -->

      
  {% block content %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} mx-auto" style="width: 14rem;" role="alert">{{message}}</div>

      {% endfor %}
    {% endif %}
  {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>